{{! change mustache delimiters}}
{{=<< >>=}}
\Kleidung{<<Kleidung>>}

\begin{multicols}{2}

\Ausruestung{<<Ausrüstung>>}

\columnbreak

\Proviant{<<Proviant>>}

\vspace{8pt}
\Vermoegen{<<Vermögen>>}{<<Sonstiger Besitz>>}

\vspace{8pt}
\Verbindungen{<<Verbindungen>>}

\end{multicols}

\vspace{-5pt}
\Notizen{<<Notizen>>}

\Tiere{<<Tiere>>}