{{! change mustache delimiters}}
{{=<< >>=}}

\Kleidung{<<Kleidung>>}

\begin{multicols}{2}

\Ausruestung{<<Ausruestung>>}

\columnbreak

\Proviant{<<Proviant>>}

\vspace{5pt}
\Vermoegen{<<Vermoegen>>}{<<Sonstiger Besitz>>}

\vspace{5pt}
\Verbindungen{<<Verbindungen>>}

\end{multicols}

\vspace{-5pt}
\Notizen{<<Notizen>>}

\Tiere{<<Tiere>>}