% change mustache delimiters
{{=<< >>=}}
%==============================================================================
% Kampfbogen: Waffen, Schilde, Rüstungen und sonstige Kampfwerte
%==============================================================================

% Nahkampf.
% Erster Parameter = Anzahl Nahkampfwaffen
% Zweiter Parameter = Anzahl Nahkampfsonderfertigkeiten
\Nahkampfwaffen{<<Nahkampfwaffen>>}{<<Nahkampf SF>>}

% Fernkampf.
% Erster Parameter = Anzahl Fernkampfwaffen
% Zweiter Parameter = Anzahl Fernkampfsonderfertigkeiten
\Fernkampfwaffen{<<Fernkampfwaffen>>}{<<Fernkampf SF>>}

\begin{minipage}{12.6cm}
	\Waffenlos{<<Waffenlose SF>>}
	\SchildParierwaffen{<<Schilde und Parierwaffen>>}
	
	\vspace{4pt}
	\begin{minipage}{6cm}
		\Ruestung{<<Rüstung>>}
	\end{minipage}
	\begin{minipage}{6.5cm}
		\Ausweichen

		\vspace{-2pt}
		\Wunden
	\end{minipage}
\end{minipage}
\begin{minipage}{\textwidth-12.6cm-\fboxsep}
\Trefferzonenbild
\end{minipage}

\vspace{-10pt}
\LebensenergieAusdauerEtc{<<Astralenergie>>}{<<Karmaenergie>>}