{{! change mustache delimiters}}
{{=<< >>=}}
\Kleidung{<<Kleidung>>}

\begin{multicols}{2}

\Liturgien{<<Liturgien>>}

\Vermoegen{<<Vermögen>>}{<<Sonstiger Besitz>>}

\columnbreak

\Ausruestung{<<Ausrüstung>>}

\Proviant{<<Proviant>>}

\Verbindungen{<<Verbindungen>>}

\end{multicols}

\vspace{-5pt}
\Notizen{<<Notizen>>}

\Tiere{<<Tiere>>}