{{! change mustache delimiters}}
{{=<< >>=}}
%==============================================================================
% Talentbogen: Talente, Gaben, Sonderfertigkeiten (außer Kampf)
%==============================================================================

% Definiert, ob die "M-Spalte" bei den Talenten vorhanden sein soll.
% Sie kann für Mirakel+/- oder Meisterhandwerk benutzt werden.
% Mögliche Werte: "1" (M-Spalte), "0" (keine M-Spalte)
\newcommand{\MSpalte}{<<M-Spalte>>}

% Definiert, ob die Talentnamen ausklappbare Combo-Boxen sein sollen.
% Dies funktioniert in verschiedenen PDF-Betrachtern verschieden gut;
% man kann damit unter allen existierenden Talenten auswählen, aber nur
% im Adobe Reader auch eigene Talente hinzufügen.
% Mögliche Werte: "1" (Combo-Boxen für Talentnamen),
%                 "0" (einfach Eingabewerte für Talentnamen)
\newcommand{\TalenteInCombo}{0}

% Linke Spalte des Talentbogens. Die Kommandos innerhalb der Spalten können
% beliebig umsortiert werden.
\newcommand{\TalenteLinks}{
	<<# Links>>
		<<.>>

	<</ Links>>
}

\newcommand{\TalenteRechts}{
	\vspace{1pt}

	<<# Rechts>>
		<<.>>

	<</ Rechts>>
}
