% change mustache delimiters
{{=<< >>=}}

\newcommand{\MSpalte}{<<M-Spalte>>}

\newcommand{\TalenteInCombo}{0}

\newcommand{\TalenteLinks}{
	\Sonderfertigkeiten{<<Sonderfertigkeiten>>}

	\Gaben[<<Gaben-Titel>>]{<<Gaben>>}

    \Kampftechniken{<<Kampftechniken>>}

	\KoerperlicheTalente{<<Körperliche Talente>>}

	\vspace{1pt}

	\GesellschaftlicheTalente{<<Gesellschaftliche Talente>>}
}

\newcommand{\TalenteRechts}{
	\vspace{1pt}

	\NaturTalente{8}

	\WissensTalente{15}

	\SprachenSchriften{10}

	\vspace{1pt}

	\HandwerklicheTalente{16}
}