{{! change mustache delimiters}}
{{=<< >>=}}
\Rituale{<<Rituale>>}

\begin{multicols}{2}
	\Ritualkenntnis{<<Ritualkenntnis>>}

	\MagischeVorNachteile{<<Magische Vor- und Nachteile>>}

	\MagischeSonderfertigkeiten{<<Magische Sonderfertigkeiten>>}

\columnbreak
	\Artefakte{<<Artefakte>>}

	\vspace{7pt}
	\MagischeNotizen{<<Notizen>>}

\end{multicols}