html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  margin: 0;
}

nav > ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px;
  background: #333;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  list-style: none;
  padding: .25em .75em;
  font-weight: bold;
  font-family: sans-serif;
}

nav > ul > li:hover,
nav > ul > li:active {
  background: #555;
}

nav > ul > li > a {
  text-decoration: none;
  color: #eee;
}

article.doc {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

article.doc section {
  background-color: white;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0;
  overflow: auto; /* prevent margin collapse */
}

article.doc section p {
  margin: .5em;
}

article.doc section table {
  margin: 0.5em 0.5em 0.5em 1em;
}

article.doc section table.protoparam > tbody > tr > th {
  font-weight: bold;
  padding-right: .5em;
  text-align: right;
  vertical-align: top;
}

article.doc h1,
article.doc h2 {
  margin-top: 0;
  padding: .25em .5em;
  background-color: rgb(141, 131, 148);
  font-size: large;
  font-family: sans-serif;
}

article.doc h1 {
  text-align: center;
}

article.doc h3,
article.doc h4,
article.doc h5,
article.doc h6 {
  font-size: medium;
  font-family: sans-serif;
  padding: .5em;
  margin: 0;
}

section > pre {
  background-color: rgb(238, 238, 238);
  padding: .5em .75em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: .67em;
  white-space: pre-wrap;
}

section > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.example > pre {
  padding: .5em .75em;
  margin: 0;
}

code .metasym {
  font-weight: bold;
  color: gray;
}

code .num {
  color: darkblue;
}

code .id {
  font-style: italic;
}

code .sym {
  font-weight: bold;
}

code .comment {
  color: gray;
  font-style: italic;
}

ul.rowitem {
  display: inline-block;
  margin: .25em;
  padding: 6px;
  border-radius: 6px;
  background-color: blanchedalmond;
  list-style: none;
}

div.example {
  background-color: darkseagreen;
  padding: 6px;
  border-radius: 6px;
  margin: .5em;
}

div.example h4 {
  font-weight: bold;
  font-size: small;
  margin: 0;
  padding: 0;
}